@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/S6u9w4BMUTPHh6UVSwaPHA.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/u-440qyriQwlOrhSvowK_l5-ciZJ.ttf) format('truetype');
}